* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.container {
    height: 100vh;

    display: grid;

    /* row / column */
    grid-template: 100px auto 100px / 30fr 70fr;

    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";

    gap: 10px;

}

.box {
    display        : flex;
    align-items    : center;
    justify-content: center;
    background     : gold;

}

.box-header {
    grid-area: header;
}

.box-footer {
    grid-area: footer;
}