body {
  margin: 10px;
}

#heart {
  position: relative;

}

#heart:before,
#heart:after {
  position        : absolute;
  content         : "";
  left            : 50px;
  width           : 50px;
  height          : 80px;
  background      : red;
  border-radius   : 50px 50px 0 0;
  transform       : rotate(-45deg);
  transform-origin: 0 100%;
}

#heart:after {
  left            : 0;
  transform       : rotate(45deg);
  transform-origin: 100% 100%;
}